:root {
  --black: black;
  --white: white;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #1a1b1f;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  font-weight: 400;
  line-height: 62px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #1a1b1f;
  text-decoration: underline;
  transition: opacity .2s;
  display: block;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 34px;
}

figcaption {
  opacity: 1;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  line-height: 26px;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.styleguide-content-wrap {
  text-align: center;
}

.section {
  background-color: var(--black);
  margin-left: 0;
  margin-right: 0;
}

.section.cc-cta {
  background-color: #f4f4f4;
  padding-left: 80px;
  padding-right: 80px;
}

.styleguide-block {
  text-align: left;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-bigger {
  opacity: 1;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.paragraph-bigger.cc-bigger-light {
  opacity: .6;
}

.paragraph-bigger.cc-bigger-white-light {
  opacity: .6;
  color: rgba(255, 255, 255, .8);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}

.button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #434653;
  border-radius: 0;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .4s, opacity .4s, color .4s;
}

.button:hover {
  color: #fff;
  background-color: #32343a;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-jumbo-button.cc-jumbo-white {
  color: #000;
  background-color: #fff;
}

.button.cc-jumbo-button.cc-jumbo-white:hover {
  background-color: #f1f1f1;
}

.button.cc-jumbo-button.cc-jumbo-white:active {
  background-color: #e1e1e1;
}

.button.cc-contact-us {
  z-index: 5;
  position: relative;
}

.button.cc-white-button {
  color: #202020;
  background-color: #fff;
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: rgba(255, 255, 255, .8);
}

.button.cc-white-button:active {
  background-color: rgba(255, 255, 255, .9);
}

.label {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-light {
  opacity: .6;
}

.label.cc-blog-date {
  opacity: .6;
  margin-top: 20px;
}

.heading-jumbo-tiny {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.rich-text {
  width: 70%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.rich-text p {
  opacity: .6;
  margin-top: 15px;
  margin-bottom: 25px;
}

.rich-text figcaption {
  opacity: .6;
}

.rich-text figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

.paragraph-light {
  opacity: .6;
  color: #fff;
}

.heading-jumbo {
  max-width: none;
  color: #fff;
  text-align: center;
  text-transform: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto 24px;
  font-family: Inter, sans-serif;
  font-size: 48px;
  line-height: 60px;
  display: flex;
}

.heading-jumbo-small {
  text-transform: none;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.styleguide-header-wrap {
  height: 460px;
  color: #fff;
  text-align: center;
  background-color: #1a1b1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: .8;
}

.logo-link:active {
  opacity: .7;
}

.logo-link.w--current {
  -webkit-text-fill-color: inherit;
  background-image: url('../images/lano-logo.png');
  background-position: 0 0;
  background-size: auto;
  background-clip: border-box;
}

.logo-link.image.w--current {
  background-image: url('../images/lano-logo.png');
  background-position: 0 0;
  background-size: auto;
}

.menu {
  z-index: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.navigation-wrap {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.navigation {
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  padding: 30px 50px;
  display: flex;
}

.navigation-item {
  opacity: .6;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.navigation-item:hover {
  opacity: .9;
}

.navigation-item:active {
  opacity: .8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: .8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: .7;
  color: #32343a;
}

.logo-image {
  background-image: url('../images/lano-logo.png');
  background-position: 0 0;
  background-size: auto;
  display: block;
}

.navigation-items {
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-wrap {
  width: 1136px;
  max-width: 1140px;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
}

.webflow-link {
  opacity: .5;
  align-items: center;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: .8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.cta-text {
  width: 70%;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

.cta-wrap {
  text-align: center;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 120px;
  display: flex;
}

._1 {
  height: auto;
  max-height: none;
  max-width: none;
  opacity: 1;
  pointer-events: auto;
  color: #fff;
  -webkit-text-stroke-color: var(--black);
  -webkit-text-fill-color: inherit;
  object-fit: fill;
  background-color: rgba(244, 244, 244, 0);
  background-image: url('../images/1.jpg');
  background-position: 50%;
  background-size: cover;
  background-clip: border-box;
  justify-content: center;
  align-items: center;
  margin-top: 52px;
  margin-bottom: 0;
  padding: 200px 15px 300px;
  display: flex;
  position: static;
}

._1.cc-subpage {
  height: 480px;
  color: #fff;
  background-color: #000;
  background-image: none;
  margin-top: 32px;
  padding-top: 0;
  padding-bottom: 0;
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}

.intro-content.cc-homepage {
  width: 1136px;
  margin-bottom: 160px;
}

.motto-wrap {
  width: 80%;
  text-align: center;
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
}

.about-story-wrap {
  width: 80%;
  text-align: center;
  margin: 80px auto;
}

.our-services-grid {
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . ."
                       ". . .";
  margin-bottom: 120px;
}

.section-heading-wrap {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.service-icon {
  margin-bottom: 30px;
}

.status-message {
  color: #fff;
  text-align: center;
  background-color: #202020;
  padding: 9px 30px;
  font-size: 14px;
  line-height: 26px;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.status-message.cc-no-data {
  width: 70%;
  margin: 100px auto;
  display: block;
}

.contact-form-wrap {
  border: 1px #eee;
  padding: 45px 50px 50px;
}

.contact-form-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 2.5fr 1fr;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 100px;
}

.details-wrap {
  margin-bottom: 30px;
}

.get-in-touch-form {
  flex-direction: column;
  display: flex;
}

.text-field {
  border: 1px solid #e4e4e4;
  border-radius: 0;
  margin-bottom: 18px;
  padding: 21px 20px;
  font-size: 14px;
  line-height: 26px;
  transition: border-color .4s;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active, .text-field:focus {
  border-color: #43464d;
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, .4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, .4);
}

.text-field.cc-contact-field {
  margin-bottom: 25px;
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.contact-form {
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.contact-form-heading-wrap {
  color: #fff;
  margin-bottom: 40px;
}

.contact-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
}

.map {
  height: 460px;
  margin-bottom: 100px;
  line-height: 20px;
}

.contact-team-name-wrap {
  margin-bottom: 30px;
}

.our-contacts {
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  text-align: center;
  grid-template: ". . ."
  / 1fr 1fr 1fr;
  margin-bottom: 120px;
}

.contact-team-details-wrap {
  margin-top: 30px;
}

.contact-team-pic {
  height: 150px;
  background-color: #f4f4f4;
  margin-bottom: 30px;
}

.team-pic {
  width: 100%;
  height: 420px;
  background-color: #f4f4f4;
  margin-bottom: 40px;
}

.team-members {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". . ."
                       ". . .";
  margin-bottom: 60px;
}

.team-member-title-wrap {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  display: flex;
}

.team-member-name {
  opacity: 1;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}

.projects-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template: "."
                 "."
                 "."
                 / 1fr;
  margin-bottom: 60px;
}

.project-name-wrap {
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  display: flex;
}

.project-name-link {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  text-decoration: none;
}

.project-name-link:hover {
  opacity: .8;
}

.project-name-link:active {
  opacity: .7;
}

.project-cover-link {
  margin-bottom: 40px;
}

.project-cover-link:hover {
  opacity: .8;
}

.project-cover-link:active {
  opacity: .7;
}

.project-overview-header {
  height: 620px;
  color: #fff;
  background-color: #f4f4f4;
  background-image: url('../images/portfolio-1---wide.svg');
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  display: flex;
}

.project-overview-header.cc-project-2-header {
  background-image: url('../images/portfolio-2---wide.svg');
  background-position: 50%;
}

.project-overview-header.cc-project-3-header {
  background-image: url('../images/portfolio-3---wide.svg');
  background-size: cover;
}

.project-details-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 1fr 2fr;
  align-items: start;
  margin-top: 100px;
  margin-bottom: 100px;
}

.project-pics {
  margin-bottom: 120px;
}

.detail-image {
  width: 100%;
  margin-bottom: 30px;
}

.blog-detail-header-wrap {
  width: 70%;
  margin: 60px auto;
}

.detail-header-image {
  width: 100%;
  height: 620px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
  margin-bottom: 60px;
  display: block;
}

.detail-header-image.w--current {
  margin-bottom: 60px;
}

.blog-list-wrap {
  margin-bottom: 100px;
}

.blog-item {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.blog-preview-image {
  width: 100%;
  height: 620px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: cover;
  margin-bottom: 45px;
  transition: opacity .6s;
  display: block;
}

.blog-preview-image:hover {
  opacity: .8;
}

.blog-preview-image:active {
  opacity: .7;
}

.blog-summary-wrap {
  width: 70%;
  text-align: left;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.blog-heading-link {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 400;
  line-height: 46px;
  text-decoration: none;
}

.blog-heading-link:hover {
  opacity: .8;
}

.blog-heading-link:active {
  opacity: .7;
}

.contact-email-link {
  opacity: .6;
  color: var(--white);
  margin-bottom: 5px;
}

.contact-email-link:hover {
  opacity: 1;
}

.contact-email-link:active {
  opacity: .8;
}

.protected-form {
  flex-direction: column;
  display: flex;
}

.protected-wrap {
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
}

.protected-heading {
  margin-bottom: 30px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

._404-wrap {
  width: 100%;
  height: 100%;
  background-color: #1a1b1f;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  display: flex;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.home-content-wrap {
  margin-top: 80px;
  margin-bottom: 120px;
}

.home-section-wrap {
  margin-bottom: 30px;
}

.section-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.about-grid {
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template: ". ."
  / 1fr 2fr;
  align-items: center;
  margin-bottom: 80px;
}

.about-grid.cc-about-2 {
  grid-template-columns: 2fr 1fr;
  grid-template-areas: ". .";
}

.intro-text {
  width: auto;
  max-width: 1200px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.collection-wrap {
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}

.work-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.blog-heading {
  text-align: center;
  margin-bottom: 60px;
}

.blog-preview-wrap {
  width: 33.33%;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 45px;
}

.collection-list-wrapper {
  margin-bottom: 120px;
}

.business-article-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  text-decoration: none;
}

.business-article-heading:hover {
  opacity: .8;
}

.business-article-heading:active {
  opacity: .7;
}

._w-lightbox-caption {
  background-color: rgba(0, 0, 0, .6);
}

.image {
  background-image: url('../images/lano-logo.png');
  background-position: 0 0;
  background-size: auto;
}

.image-2 {
  background-image: url('../images/lano-logo.png');
  background-size: auto;
}

.section2 {
  height: 678px;
  background-image: url('../images/2.jpg'), url('../images/2.jpg');
  background-position: 0 0, 0 0;
  background-size: cover, auto;
}

.section3 {
  background-color: #000;
  border-bottom: 1px solid #e4ebf3;
  margin-top: 0;
  padding: 160px 5px 170px;
  position: relative;
}

.container-2 {
  width: auto;
  max-width: 1200px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.centered-heading {
  color: #fff;
  text-align: center;
  mix-blend-mode: normal;
  margin-bottom: 16px;
  font-family: Inter Tight, sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.centered-subheading {
  max-width: none;
  color: rgba(255, 255, 255, .6);
  text-align: center;
  margin: 24px auto 60px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.team-slider-wrapper {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
}

.team-slide-wrapper {
  width: 30%;
  background-color: rgba(255, 255, 255, .05);
  margin-right: 5%;
}

.team-block {
  background-color: rgba(255, 255, 255, .03);
  padding-bottom: 0;
}

.team-member-image-two {
  margin-bottom: 18px;
}

.team-block-info {
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two {
  color: #fff;
  margin-top: 32px;
  margin-bottom: 7px;
  font-family: Inter Tight, sans-serif;
  font-size: 21px;
  font-weight: 600;
}

.team-member-text {
  color: #7e808a;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  line-height: 22px;
}

.text-link-arrow {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow {
  display: none;
}

.team-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.paragraph {
  color: #60a5fa;
  text-align: center;
  font-family: Inter Tight, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.image-3 {
  aspect-ratio: auto;
  text-align: center;
  margin: auto;
  display: block;
}

.div-block-2 {
  background-color: rgba(255, 255, 255, .05);
  border: 1px solid rgba(255, 255, 255, .15);
  border-radius: 12px;
  padding: 32px;
}

.div-block-3 {
  background-color: rgba(255, 255, 255, .05);
  border: 1px solid rgba(255, 255, 255, .15);
  border-radius: 12px;
  padding: 0;
}

.heading {
  color: #fff;
  font-family: Inter Tight, sans-serif;
  font-size: 21px;
  font-weight: 600;
}

.div-block-4 {
  background-color: rgba(255, 255, 255, .05);
  border: 1px solid rgba(255, 255, 255, .15);
  border-radius: 12px;
  padding: 32px;
}

.div-block-4:hover {
  background-color: rgba(255, 255, 255, 0);
  background-image: url('../images/hover-bg.png');
  background-position: 0 0;
  background-size: auto;
}

.div-block-5 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.section4 {
  outline-offset: 0px;
  background-color: rgba(245, 247, 250, 0);
  background-image: url('../images/Frame-1321315151.jpg');
  background-position: 0 0;
  background-size: auto;
  border-bottom: 1px solid #e4ebf3;
  outline: 0 #1a1b1f;
  margin-top: 0;
  padding: 160px 5px;
  position: relative;
}

.container-3 {
  width: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading-2 {
  color: #fff;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 24px;
  font-family: Inter Tight, sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.centered-subheading-2 {
  color: rgba(255, 255, 255, .6);
  text-align: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.team-slide-wrapper-2 {
  width: 30%;
  margin-right: 5%;
}

.team-block-2 {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-block-info-2 {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two-2 {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text-2 {
  margin-bottom: 20px;
}

.paragraph-2 {
  color: rgba(255, 255, 255, .8);
  -webkit-text-stroke-color: rgba(255, 255, 255, 0);
  background-color: rgba(24, 24, 29, .8);
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  border: 1px solid rgba(248, 248, 248, .05);
  border-radius: 12px;
  padding: 32px;
  font-family: Inter, sans-serif;
  font-size: 15px;
}

.div-block-6 {
  background-image: linear-gradient(#000, #fff);
}

.div-block-7 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.section5 {
  background-color: rgba(245, 247, 250, 0);
  background-image: url('../images/bg.jpg');
  background-position: 0 0;
  background-size: cover;
  border-bottom: 1px solid #e4ebf3;
  margin-top: 0;
  padding: 160px 5px;
  position: relative;
}

.container-4 {
  width: 1136px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hero-split {
  width: auto;
  max-width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.margin-bottom-24px {
  color: rgba(255, 255, 255, .6);
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  font-size: 18px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgba(248, 248, 248, .02);
  border: 1px solid rgba(248, 248, 248, .1);
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.paragraph-3 {
  color: #93c5fd;
  font-family: Inter Tight, sans-serif;
  font-size: 20px;
}

.heading-2 {
  color: #fff;
  margin-top: 4px;
  margin-bottom: 24px;
  font-family: Inter Tight, sans-serif;
  font-size: 44px;
}

.paragraph-4 {
  color: #fff;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
}

.div-block-8 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.div-block-9 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border-top: 1px solid rgba(255, 255, 255, .4);
  flex-direction: column;
  display: flex;
}

.section6 {
  background-color: #000;
  border-bottom: 1px solid #e4ebf3;
  margin-top: 0;
  margin-bottom: 0;
  padding: 100px 5px;
  position: relative;
}

.container-5 {
  width: auto;
  max-width: 1200px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.centered-heading-3 {
  text-align: center;
  margin-bottom: 16px;
}

.centered-subheading-3 {
  max-width: 530px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-slider-wrapper-2 {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
}

.team-slide-wrapper-3 {
  width: 30%;
  margin-right: 5%;
}

.team-block-3 {
  background-color: #fff;
  padding-bottom: 24px;
}

.team-member-image-two-2 {
  margin-bottom: 18px;
}

.team-block-info-3 {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.team-member-name-two-3 {
  margin-bottom: 12px;
  font-weight: 600;
}

.team-member-text-3 {
  margin-bottom: 20px;
}

.text-link-arrow-2 {
  color: #1a1b1f;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
}

.arrow-embed-2 {
  margin-left: 2px;
  display: flex;
}

.team-slider-arrow-2 {
  display: none;
}

.team-slider-nav-2 {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.paragraph-5 {
  color: #b4b9cc;
}

.div-block-10 {
  background-color: rgba(255, 255, 255, .05);
}

.section7 {
  background-color: #f5f7fa;
  background-image: url('../images/bg-7.jpg');
  background-position: 0 0;
  background-size: cover;
  border-bottom: 1px solid #e4ebf3;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 5px;
  position: relative;
}

.container-6 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two {
  width: auto;
  max-width: 1200px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px-2 {
  color: #7e808a;
  margin-bottom: 32px;
  font-family: Inter, sans-serif;
}

.heading-3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Inter Tight, sans-serif;
  font-size: 33px;
}

.button-2 {
  color: #e0e0e0;
  background-color: rgba(250, 250, 250, 0);
  padding: 10px 16px;
  font-family: Inter, sans-serif;
}

.div-block-11 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  display: flex;
}

.footer-subscribe {
  z-index: auto;
  outline-offset: 0px;
  background-color: #000;
  border-bottom: 1px solid #e4ebf3;
  outline: 3px #1a1b1f;
  margin-bottom: 0;
  padding: 25px 5px;
  position: relative;
}

.container-7 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-form-two {
  background-color: #f5f7fa;
  margin-bottom: 40px;
  padding: 64px;
}

.footer-form-container-two {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-form-title {
  font-size: 24px;
  line-height: 32px;
}

.footer-form-block-two {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}

.footer-form-input {
  width: 460px;
  height: 48px;
  border: 1px #000;
  margin-bottom: 0;
  padding: 12px 180px 12px 20px;
}

.footer-form-input::-ms-input-placeholder {
  color: rgba(26, 27, 31, .8);
}

.footer-form-input::placeholder {
  color: rgba(26, 27, 31, .8);
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.button-primary-2.footer-form-button {
  padding: 8px 18px;
  position: absolute;
  right: 8px;
}

.footer-wrapper-three {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-block-three {
  justify-content: flex-start;
  align-items: center;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
}

.footer-link-three {
  color: #1a1b1f;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.footer-link-three:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block-three {
  justify-content: flex-start;
  align-items: center;
  margin-left: -32px;
  display: flex;
}

.footer-social-link-three {
  margin-left: 32px;
}

.footer-divider-two {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-copyright {
  color: #3a4554;
}

.footer-legal-block {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer-legal-link {
  color: #3a4554;
  margin-left: 0;
}

.footer-legal-link:hover {
  color: #3a4554;
}

.paragraph-6 {
  color: #fff;
  margin-bottom: 0;
  font-family: Titillium Web, sans-serif;
  font-size: 20px;
}

.div-block-12 {
  width: auto;
  max-width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.paragraph-7 {
  color: rgba(255, 255, 255, .6);
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 12px;
}

.section-7 {
  outline-offset: 0px;
  background-color: #000;
  background-image: url('../images/bg-7_1.jpg');
  background-size: cover;
  outline: 0 #1a1b1f;
  margin-top: 0;
  padding: 100px 5px;
}

.testimonial-slider-small {
  background-color: #000;
  background-image: url('../images/2.jpg');
  background-position: 0 0;
  background-size: cover;
  border-bottom: 1px solid #e4ebf3;
  padding: 104px 5px;
  position: relative;
}

.container-8 {
  width: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading-4 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 36px;
  font-family: Inter, sans-serif;
  font-size: 48px;
}

.centered-subheading-4 {
  max-width: 530px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-slider {
  height: auto;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-slide-wrapper {
  max-width: 48%;
  margin-right: 4%;
}

.testimonial-card {
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.testimonial-info {
  align-self: stretch;
  align-items: center;
  margin-top: 24px;
  display: flex;
}

.testimonial-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.testimonial-author {
  margin-bottom: 2px;
}

.tagline {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
}

.testimonial-icon-wrapper {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

.testimonial-slider-left {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  left: -70px;
}

.testimonial-slider-left:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slider-left[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.slider-arrow-embed {
  color: #1a1b1f;
}

.testimonial-slider-right {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  right: -70px;
}

.testimonial-slider-right:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slider-right[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.testimonial-slide-nav {
  display: none;
}

.div-block-13 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 16px;
  display: grid;
}

.navbar-no-shadow {
  z-index: 100;
  color: #070707;
  overflow-wrap: normal;
  background-color: #0d0d10;
  padding: 11px 5px;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-width: 1140px;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  width: auto;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #ededed;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 0 5px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-button-wrapper {
  margin-left: 120px;
}

.button-primary-3 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-3:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-3:active {
  background-color: #43464d;
}

.body {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.section-8 {
  padding-top: 160px;
  padding-bottom: 150px;
}

.section-9 {
  padding-top: 160px;
}

.section-10 {
  height: 100px;
}

._2 {
  background-image: url('../images/2.jpg');
  background-position: 50%;
  background-size: cover;
  padding: 120px 15px;
}

._3 {
  padding: 160px 15px;
}

._4 {
  background-image: url('../images/Frame-1321315151.jpg');
  background-position: 50%;
  background-size: auto;
  padding: 160px 15px;
}

._5 {
  background-image: url('../images/bg.jpg');
  background-position: 50%;
  background-size: cover;
  padding: 160px 15px;
}

._6 {
  padding: 140px 15px;
}

._7 {
  background-image: url('../images/bg-7.jpg');
  background-position: 50%;
  background-size: cover;
  padding: 100px 15px;
}

.footer {
  padding: 25px 15px;
}

.testimonial-slider-large {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.container-9 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-slider-two {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.testimonial-slide {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 64px;
  display: flex;
}

.testimonial-content {
  max-width: 460px;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
  display: flex;
}

.testimonial-quote-icon {
  margin-bottom: 24px;
}

.testimonial-quote {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.testimonial-info-two {
  align-items: center;
  display: flex;
}

.testimonial-image-2 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.testimonial-author-name {
  font-weight: 700;
}

.testimonial-image-two {
  width: 350px;
  height: 400px;
  object-fit: cover;
}

.testimonial-author-image-three {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 24px;
}

.testimonial-slider-arrow {
  display: none;
}

.testimonial-slider-nav {
  margin-top: 24px;
  font-size: 10px;
  position: static;
  bottom: -60px;
}

.div-block-14, .div-block-15, .div-block-17, .div-block-25, .div-block-26, .div-block-27, .div-block-28, .div-block-29, .div-block-30, .div-block-31 {
  display: none;
}

.div-block-32 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.field-label {
  color: var(--white);
}

.field-label-2, .field-label-3 {
  color: #fff;
}

.body-2 {
  background-color: var(--black);
}

.div-block-33 {
  padding-top: 45px;
}

@media screen and (max-width: 991px) {
  img {
    position: static;
  }

  .section.cc-cta {
    padding-left: 0;
    padding-right: 0;
  }

  .styleguide-block {
    text-align: center;
  }

  .paragraph-bigger.cc-bigger-white-light {
    text-align: center;
    font-size: 15px;
  }

  .button {
    justify-content: center;
  }

  .button.cc-contact-us {
    display: none;
  }

  .heading-jumbo {
    text-align: center;
    font-size: 48px;
    line-height: 70px;
  }

  .logo-link.w--current {
    flex: 1;
  }

  .menu-icon {
    display: block;
  }

  .menu {
    margin-left: 30px;
    position: static;
  }

  .navigation-wrap {
    background-color: #fff;
  }

  .navigation {
    padding: 25px 30px;
  }

  .navigation-item {
    text-align: center;
    padding: 15px 30px;
    transition: background-color .4s, opacity .4s, color .4s;
  }

  .navigation-item:hover {
    background-color: #f7f8f9;
  }

  .navigation-item:active {
    background-color: #eef0f3;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .navigation-items {
    background-color: #fff;
  }

  .cta-text {
    width: auto;
  }

  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }

  ._1 {
    background-image: url('../images/1.jpg');
    padding-left: 15px;
    padding-right: 15px;
  }

  .our-services-grid {
    width: 80%;
    text-align: center;
    grid-template: ". ."
                   ". ."
                   ". ."
                   / 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .service-icon {
    display: inline-block;
  }

  .contact-form-grid {
    width: 80%;
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .get-in-touch-form {
    text-align: left;
  }

  .our-contacts {
    width: 80%;
    grid-template: "."
                   "."
                   "."
                   / 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .team-members {
    grid-template: ". ."
                   ". ."
                   ". ."
                   / 1fr 1fr;
  }

  .team-member-title-wrap {
    margin-bottom: 30px;
  }

  .project-details-grid {
    width: 80%;
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-detail-header-wrap {
    width: 70%;
  }

  .detail-header-image {
    height: 460px;
  }

  .blog-item {
    width: 80%;
  }

  .blog-preview-image {
    height: 460px;
  }

  .blog-summary-wrap {
    width: 100%;
  }

  .about-grid {
    grid-row-gap: 50px;
    text-align: center;
    grid-template: "."
                   "."
                   / 1fr;
  }

  .about-grid.cc-about-2 {
    grid-template-columns: 1fr;
    grid-template-areas: "."
                         ".";
  }

  .intro-text {
    width: auto;
    max-width: 700px;
    margin-bottom: 40px;
  }

  .collection-wrap {
    flex-flow: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .blog-preview-wrap {
    width: 80%;
    text-align: center;
    padding-right: 15px;
  }

  .container-2 {
    width: auto;
    max-width: 700px;
  }

  .centered-subheading {
    font-size: 15px;
  }

  .team-slide-wrapper {
    width: 47%;
    margin-right: 6%;
  }

  .paragraph {
    font-size: 18px;
  }

  .div-block-4 {
    margin-bottom: 20px;
  }

  .div-block-4:hover {
    background-image: url('../images/hover-bg-tablet.png');
    background-position: 50%;
    background-size: cover;
  }

  .div-block-5 {
    grid-template-rows: auto;
    display: block;
  }

  .container-3 {
    width: auto;
    max-width: 700px;
  }

  .centered-subheading-2 {
    font-size: 15px;
  }

  .team-slide-wrapper-2 {
    width: 47%;
    margin-right: 6%;
  }

  .div-block-7 {
    grid-template-rows: auto;
    display: block;
  }

  .container-4 {
    max-width: 728px;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: -40px;
  }

  .hero-split {
    width: auto;
    max-width: 700px;
    margin-bottom: 40px;
  }

  .margin-bottom-24px {
    font-size: 15px;
  }

  .paragraph-3 {
    font-size: 18px;
  }

  .heading-2 {
    font-size: 40px;
  }

  .div-block-9 {
    width: 100%;
  }

  .container-5 {
    width: auto;
    max-width: 700px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: row;
    grid-template: "."
                   "Area"
                   / 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    display: block;
  }

  .team-slide-wrapper-3 {
    width: 47%;
    margin-right: 6%;
  }

  .container-6 {
    max-width: 728px;
  }

  .hero-wrapper-two {
    width: auto;
    max-width: 768px;
  }

  .margin-bottom-24px-2 {
    font-size: 15px;
  }

  .container-7 {
    max-width: 728px;
  }

  .footer-form-two {
    padding: 40px;
  }

  .footer-form-title {
    margin-right: 15px;
  }

  .footer-form-input {
    width: 400px;
    padding-right: 180px;
  }

  .footer-wrapper-three {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-social-block-three {
    margin-top: 40px;
  }

  .paragraph-6 {
    font-size: 16px;
  }

  .div-block-12 {
    width: auto;
    max-width: 768px;
  }

  .paragraph-7 {
    font-size: 10px;
  }

  .container-8 {
    width: auto;
    max-width: 700px;
  }

  .testimonial-slider-left {
    left: -20px;
  }

  .testimonial-slider-right {
    right: -20px;
  }

  .div-block-13 {
    grid-template-rows: auto;
    margin-bottom: 16px;
  }

  .navbar-wrapper {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu {
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  ._2, ._3, ._4, ._5 {
    padding-left: 15px;
    padding-right: 15px;
  }

  ._6 {
    display: none;
  }

  ._7 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer {
    padding-left: 15px;
    padding-right: 15px;
    display: none;
  }

  .image-4 {
    margin-bottom: 16px;
  }

  .testimonial-slider-large {
    background-color: #000;
  }

  .container-9 {
    max-width: 728px;
  }

  .testimonial-slide {
    padding-left: 32px;
  }

  .testimonial-quote {
    overflow: visible;
  }

  .slide {
    background-image: url('../images/card-1-tablet.png');
    background-position: 0 0;
    background-size: cover;
  }

  .image-5 {
    background-image: url('../images/card-1-tablet.png');
    background-position: 0 0;
    background-size: auto;
  }

  .image-6 {
    margin: 16px auto;
  }

  .div-block-14 {
    margin-bottom: 110px;
    padding-top: 110px;
    display: none;
  }

  .div-block-15, .div-block-26 {
    display: none;
  }

  .div-block-29 {
    padding: 150px 15px;
    display: block;
  }

  .div-block-31 {
    padding: 15px;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .section {
    margin-left: 15px;
    margin-right: 15px;
  }

  .section.cc-cta {
    padding: 15px;
  }

  .section.cc-home-wrap, .section.cc-store-home-wrap {
    margin-left: 15px;
    margin-right: 15px;
  }

  .container {
    text-align: center;
  }

  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }

  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }

  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }

  .logo-link {
    padding-left: 0;
  }

  .navigation {
    padding: 20px 30px;
  }

  .cta-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }

  .intro-content {
    width: 80%;
  }

  .our-services-grid {
    grid-row-gap: 60px;
    grid-template: "."
                   "."
                   "."
                   "."
                   "."
                   "."
                   / 1fr;
  }

  .status-message.cc-no-data {
    width: 80%;
    max-width: 470px;
  }

  .contact-form-wrap {
    padding: 30px;
  }

  .text-field.cc-contact-field, .text-field.cc-textarea {
    text-align: left;
  }

  .team-pic {
    height: 300px;
    margin-bottom: 30px;
  }

  .team-member-name {
    font-size: 16px;
    line-height: 28px;
  }

  .project-name-wrap {
    margin-bottom: 30px;
  }

  .project-name-link {
    font-size: 16px;
    line-height: 28px;
  }

  .detail-image {
    margin-bottom: 15px;
  }

  .blog-detail-header-wrap {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }

  .blog-item {
    width: 90%;
    max-width: 470px;
  }

  .blog-summary-wrap {
    text-align: center;
  }

  .utility-page-wrap {
    padding: 15px;
  }

  ._404-wrap {
    padding: 30px;
  }

  .section3, .section4, .section5, .section6, .section7 {
    padding: 60px 15px;
  }

  .footer-subscribe {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-form-container-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-form-title {
    margin-right: 0;
  }

  .footer-form-block-two {
    width: 100%;
    margin-top: 20px;
  }

  .footer-form-input {
    width: 100%;
  }

  .footer-block-three {
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-link-three {
    margin-bottom: 10px;
  }

  .footer-social-block-three {
    margin-top: 10px;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-copyright {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-legal-block {
    margin-top: 15px;
    margin-left: -24px;
  }

  .footer-legal-link {
    font-size: 14px;
    line-height: 20px;
  }

  .testimonial-slider-small {
    padding: 60px 15px;
  }

  .testimonial-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .testimonial-card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .testimonial-slider-left {
    left: -10px;
  }

  .testimonial-slider-right {
    right: -10px;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .testimonial-slider-large {
    padding: 60px 15px;
  }

  .testimonial-slide {
    flex-direction: column;
    padding: 23px;
  }

  .testimonial-content {
    max-width: none;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .testimonial-quote-icon {
    width: 50px;
    margin-bottom: 16px;
  }

  .testimonial-image-two {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 52px;
  }

  .paragraph-bigger.cc-bigger-white-light {
    text-align: center;
    font-size: 14px;
  }

  .rich-text {
    width: 100%;
    max-width: none;
  }

  .heading-jumbo {
    text-align: center;
    font-size: 30px;
    line-height: 42px;
  }

  .menu {
    margin-left: 15px;
  }

  .navigation {
    padding-left: 20px;
    padding-right: 20px;
  }

  .menu-button, .menu-button.w--open {
    flex: none;
  }

  .cta-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  ._1 {
    padding: 130px 10px;
    display: none;
  }

  .intro-content.cc-homepage {
    width: 440px;
    max-width: 470px;
  }

  .status-message.cc-no-data, .contact-form-grid {
    width: 100%;
  }

  .our-contacts {
    width: 90%;
  }

  .team-members {
    grid-template: "."
                   "."
                   "."
                   "."
                   "."
                   "."
                   / 1fr;
  }

  .project-details-grid {
    width: 100%;
  }

  .blog-detail-header-wrap, .blog-item {
    width: 100%;
    max-width: none;
  }

  .intro-text {
    width: auto;
    max-width: none;
    margin-top: 32px;
    margin-bottom: 0;
    padding: 150px 15px;
  }

  .container-2 {
    width: auto;
    max-width: 479px;
  }

  .centered-heading {
    margin-bottom: 24px;
  }

  .centered-subheading {
    font-size: 14px;
  }

  .team-slide-wrapper {
    width: 100%;
    margin-right: 0%;
  }

  .team-member-text {
    font-size: 12px;
  }

  .paragraph {
    font-size: 14px;
  }

  .heading {
    font-size: 18px;
    line-height: 30px;
  }

  .container-3 {
    width: auto;
    max-width: 479px;
  }

  .centered-heading-2 {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 42px;
  }

  .centered-subheading-2 {
    font-size: 14px;
  }

  .team-slide-wrapper-2 {
    width: 100%;
    margin-right: 0%;
  }

  .container-4 {
    max-width: none;
  }

  .hero-split {
    width: auto;
    max-width: 479px;
  }

  .margin-bottom-24px {
    font-size: 14px;
  }

  .paragraph-3 {
    margin-bottom: 0;
    font-size: 14px;
  }

  .heading-2 {
    margin-top: 0;
    font-size: 28px;
  }

  .paragraph-4 {
    font-size: 13px;
  }

  .container-5 {
    width: auto;
    max-width: 479px;
  }

  .centered-heading-3 {
    margin-bottom: 24px;
  }

  .team-slide-wrapper-3 {
    width: 100%;
    margin-right: 0%;
  }

  .container-6 {
    max-width: none;
  }

  .hero-wrapper-two {
    width: auto;
    max-width: 479px;
  }

  .margin-bottom-24px-2 {
    font-size: 14px;
  }

  .heading-3 {
    font-size: 30px;
  }

  .container-7 {
    max-width: none;
  }

  .footer-form-two {
    padding: 20px;
  }

  .footer-form-block-two {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-form-input {
    margin-bottom: 10px;
    padding-right: 20px;
  }

  .button-primary-2.footer-form-button {
    position: relative;
    right: 0;
  }

  .footer-bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .paragraph-6 {
    width: auto;
    max-width: 479px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
  }

  .div-block-12 {
    width: auto;
    max-width: none;
  }

  .paragraph-7 {
    font-size: 9px;
  }

  .container-8 {
    width: auto;
    max-width: 479px;
    background-image: url('../images/bg-mobile.jpg');
    background-position: 50%;
    background-size: cover;
    margin-left: auto;
    padding: 0;
  }

  .centered-heading-4 {
    margin-bottom: 24px;
    font-size: 30px;
  }

  .testimonial-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .testimonial-card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .testimonial-slider-left {
    left: -10px;
  }

  .testimonial-slider-right {
    right: -10px;
  }

  .navbar-wrapper {
    width: 100%;
    max-width: 479px;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper {
    width: auto;
  }

  .body {
    padding-top: 0;
    padding-bottom: 0;
  }

  ._2 {
    display: none;
  }

  ._3, ._4 {
    padding-top: 130px;
    padding-bottom: 130px;
    display: none;
  }

  ._5 {
    background-image: url('../images/bg-5-mobile.jpg');
    padding-top: 130px;
    padding-bottom: 130px;
    display: none;
  }

  ._6 {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  ._7 {
    width: auto;
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer {
    width: 100%;
    max-width: 479px;
    display: none;
  }

  .container-9 {
    max-width: none;
  }

  .testimonial-quote-icon {
    width: 30px;
  }

  .testimonial-quote {
    font-size: 22px;
    line-height: 30px;
  }

  .testimonial-author-image-three {
    margin-right: 16px;
  }

  .div-block-14 {
    width: auto;
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
  }

  .div-block-15 {
    background-image: url('../images/1.jpg');
    background-position: 50%;
    background-size: cover;
    display: block;
  }

  .div-block-16 {
    width: auto;
    max-width: 479px;
    margin-bottom: 190px;
  }

  .div-block-17 {
    padding: 100px 15px;
    display: block;
  }

  .div-block-18, .div-block-19, .div-block-20, .div-block-21, .div-block-22, .div-block-23, .div-block-24 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 10px;
    display: grid;
  }

  .div-block-25 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .div-block-26, .div-block-27 {
    width: auto;
    max-width: none;
    padding: 100px 15px;
    display: block;
  }

  .div-block-28 {
    width: auto;
    max-width: none;
    background-image: url('../images/bg-5-mobile.jpg');
    background-position: 50%;
    background-size: cover;
    padding: 100px 15px;
    display: block;
  }

  .div-block-29 {
    display: none;
  }

  .div-block-30 {
    width: auto;
    max-width: none;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  }
}

#w-node-_3f61509a-fac7-b0d5-3763-509be705858e-897abe56 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_3f61509a-fac7-b0d5-3763-509be70585a6-897abe56 {
  grid-area: 1 / 2 / 2 / 3;
}

@media screen and (max-width: 991px) {
  #w-node-_3f61509a-fac7-b0d5-3763-509be70585a6-897abe56 {
    grid-area: 2 / 1 / 3 / 2;
  }
}


